html, body{
    background-color: rgb(231, 231, 231);
    scroll-behavior: smooth;
}
#navbarBasicExample{
    margin-top: 15px;
}
.bgSizeContain {
    
    background-image: url(/IMAGES/tratAlcoolismo.jpg);
    background-image: cover;
    border: 2px solid darkgray;
    color: #000; text-shadow: 1px 1px 0 #fff;
    background-repeat: no-repeat;
    padding-bottom: 700px;
    background-size: 2000px 1000px;
  }

section img{
    height: 700px;
    width: 950px;
    position: relative;
    left: 15%;
}
.hrTXT{
    background-color: #caebf2;
    width: 300px;
    justify-content: center;
    text-align: center;
    padding: 3px;
    border-radius: 100px;
    margin-left: 520px;
}

.texto{
    width: 1000px;
    text-align: justify;
    
    padding: 20px;
    margin-left: 180px;
}

#tratamento_tittle{
    font-size: 50px;
    text-align: center;
    margin-bottom: 70px;
    
}
#tratamentos_tittle{
    font-size: 40px;
    margin-left: 580px;
    margin-bottom: 70px;
}

#tratamentos_tittle1{
    font-size: 40px;
    margin-left: 615px;
    margin-bottom: 70px;
    margin-top: 40px;
}


.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 10px;
    right: 0px;
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.753);
    text-decoration: none;
    border-radius: 100px;
}
.btn::after {
    content: "↑";
    font-size: 32px;
    font-weight: bold;
    color: aliceblue;
    transition: margin-top 250ms;
}
.btn:hover::after {
    margin-top:-8px;
}
