{{>partials/header}}

<link rel="stylesheet" href="/css/alcoolismo.css">


{{alcoolismo}}

<br>
<br>
<br>
<br>
<br>

<section>
  <H1 id="tratamento_tittle"> Alcoolismo </H1>
  <div class="bgSizeContain">
    <p></p>
  </div>

  <H1 id="tratamentos_tittle1"> Sobre </H1>
  <hr class="hrTXT">

  <p class="texto">
    Segunda a Organização Mundial da Saúde (OMS), o alcoolismo é uma doença crônica capaz de levar o paciente a outras
    complicações médicas, como a cirrose e a hepatite.

    Para além do uso ocasional de bebidas alcóolicas, o alcoolismo é uma condição em que o indivíduo faz constantemente
    o uso abusivo e descontrolado desse tipo de bebida.

    Aos poucos, o organismo perde a sensibilidade ao álcool, e a pessoa com alcoolismo tem que fazer o uso de
    quantidades cada vez maior da substância, tornando-se um vício progressivo.

    O alcoolismo atrapalha a vida de uma pessoa em diferentes âmbitos e aspectos, afetando, inclusive, seus familiares,
    amigos e até mesmo colegas de trabalho.
  </p>

</section>



<section>
  <H1 id="tratamentos_tittle"> Tratamento </H1>


  <hr class="hrTXT">

  <p class="texto">
    Alcoólatras podem iniciar o dia com uma dose, sentir culpa por beber e quiser reduzir a quantidade consumida.
    O tratamento envolve terapia ou aconselhamento por um profissional de saúde.
    Há medicamentos disponíveis que reduzem a vontade de beber.
  </p>

</section>

<section>
  <H1 id="tratamentos_tittle"> Sintomas</H1>


  <hr class="hrTXT">

  <p class="texto">
    Os sinais e sintomas classicamente associados à dependência de substâncias são falta de controle sobre o uso,
    tolerância cada vez maior e manifestações de síndrome de abstinência.
    Neste último caso, a pessoa manifesta alguns sintomas quando interrompe o consumo de álcool: tremores nos lábios e
    extremidades (mãos, pés), náuseas, vômitos, suor excessivo, ansiedade, irritação, podendo evoluir para convulsões e
    estados de confusão mental, com falta de orientação no tempo e no espaço e alucinações.
  </p>

</section>


<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span></span>
    </div>
    <!-- Left -->

    <!-- Right -->

    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->

  <!-- Grid column -->

  <!-- Grid column -->

  <!-- Grid column -->

  <!-- Grid column -->

  <!-- Grid column -->

  <!-- Grid column -->

  <br>
  </section>

  <a href="#" class="btn"></a>

  {{>partials/footerpages}}