{{>partials/header}}

<link rel="stylesheet" href="/css/dependencia.css">


{{alcoolismo}}

<br>
<br>
<br>
<br>
<br>

<section>
  <H1 id="tratamento_tittle"> Dependência Química</H1>
  <div class="bgSizeContain">
    <p></p>
  </div>

  <H1 id="tratamentos_tittle1"> Sobre </H1>
  <hr class="hrTXT">

  <p class="texto">A dependência química é uma doença caracterizada pelo uso descontrolado de uma ou mais substâncias
    psicoativas, ou seja, que causam mudanças no estado mental da pessoa. Isso inclui tanto drogas cujo uso é permitido
    por lei como aquelas que são proibidas.
    Existem diversos tipos de substâncias psicoativas que podem causar dependência e que provocam diferentes efeitos no
    organismo. Algumas delas são consideradas depressoras: é o caso das bebidas alcoólicas, do ópio, da morfina e de
    alguns tipos de medicamentos como tranquilizantes e ansiolíticos.
  </p>

</section>



<section>
  <H1 id="tratamentos_tittle"> Tratamentos </H1>


  <hr class="hrTXT">

  <p class="texto">
    <b>Desintoxicação</b>
    <br>
    <br>
    A desintoxicação é apenas uma das fases do tratamento para dependência química. Essa etapa é considerada a mais
    crítica, pois o paciente recebe assistência médica durante um determinado período de tempo geralmente 24 horas
    para a eliminação das drogas do seu organismo.
    <br>
    <br>
    <br>
    <b>Psicoterapias</b>
    <br>
    <br>
    Diversas abordagens psicoterapêuticas têm sido eficazes no tratamento da dependência química, entre elas a
    psicanálise, a terapia cognitivo-comportamental, a terapia em grupo e a terapia ocupacional. As psicoterapias se
    baseiam na aplicação de um conjunto de técnicas e métodos psicológicos, podendo ter objetivos diferentes, como a
    solução de problemas, a modificação de comportamentos e o auxílio no desenvolvimento de novas concepções sobre si
    mesmo e o mundo. A opção por uma dessas modalidades depende dos sintomas apresentados, do grau de evolução do
    transtorno, da estratégia de tratamento e da aceitação e personalidade do paciente.


  </p>

</section>

<section>
  <H1 id="tratamentos_tittle"> Sintomas</H1>


  <hr class="hrTXT">

  <p class="texto">
    Muitas vezes não é fácil de identificar os sintomas, isso acontece por que a dependência é um transtorno que ocorre
    de forma progressiva, ou seja, os sintomas vão ficando cada vez maiores.
    Os principais sintomas é a fissura ou o craving, dificuldade em controlar o uso, abstinência, tolerância aumentada
    para a droga ou até mesmo uma mudança no seu comportamento.


  </p>

</section>


<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span></span>
    </div>
    <!-- Left -->

    <!-- Right -->

    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->

  <!-- Grid column -->

  <!-- Grid column -->

  <!-- Grid column -->

  <!-- Grid column -->

  <!-- Grid column -->

  <!-- Grid column -->

  <br>
  </section>

  <a href="#" class="btn"></a>

  {{>partials/footerpages}}