{{>partials/header}}
<link rel="stylesheet" href="/css/feedback.css">


<br>
<br>
<br>
<br>
<hr>
<form action="https://formsubmit.co/sosviciossp@gmail.com" method="post" >

  <div class="container1">
    <div class="card">
      <div class="card-content">
        <div class="content">
          <div class="field">
            

            <label class="label">Nome</label>
            <div class="control has-icons-left has-icons-right">
              <input type="hidden" name="_next" value="http://localhost:777/sucesso">
              <input class="input is-rounded has-text-black-light" type="text" name="name" placeholder="Ex: SOS Vícios" value=""
                required>
              <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
              </span>

            </div>

          </div>

          <div class="field">
            <label class="label" type="email" name="email" required>Email</label>
            <div class="control has-icons-left has-icons-right">
              <input class="input is-rounded has-text-black-light" type="email" name="email" placeholder="Ex: sosvicios@gmail.com"
                 required>
              <span class="icon is-small is-left">
                <i class="fas fa-envelope has"></i>
              </span>
              </span>
            </div>
          </div>

          <div class="field">
            <label class="label" type="telefone" name="telefone">Telefone</label>
            <div class="control has-icons-left has-icons-right">
              <input class="input is-rounded has-text-black-light" type="text" name="telefone" placeholder="Digite seu telefone"
                value="" required="">
              <span class="icon is-small is-left">
                <i class="fa-solid fa-phone-flip"></i>
              </span>
              <span class="icon is-small is-right">
                <i class=""></i>
              </span>
            </div>
          </div>

          <div class="field">
            <p class="control has-icons-left">
              <span class="select">
                <select name="assunto">
                  <option value="Assunto" disabled selected="selected">Assunto</option>
                  <option value="Reclamações/Elogios">Reclamações/Elogios</option>
                  <option value="Duvidas">Duvidas</option>
                  <option value="O que podemos melhorar">O que podemos melhorar?</option>

                </select>
              </span>
              <span class="icon is-small is-left">
                <i class="fa-regular fa-comment"></i>

              </span>
            </p>
          </div>


          <div class="field">
            <label class="label">Mensagem</label>
            <div class="control">
              <textarea name="Message" class="textarea" placeholder="Escreva" required></textarea>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <label class="checkbox">
                <input type="checkbox" name="checkbox" required="">
                Eu estou de acordo com os <a href="/termos">termos e condições</a>
              </label>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <label class="radio">
              </label>
            </div>
          </div>

          <div class="field is-grouped">
            <div class="control">
              <button  class="button is-link"> Enviar</button>




              <a href=""></a>


            </div>
            <div class="control">
              <a href="/" style="text-decoration: none;">
                <button class="button is-link is-light">Cancelar</button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<!-- Section: Social media -->

<!-- Section: Links  -->
<!-- Section: Links  -->

<!-- Copyright -->
{{>partials/footerpages}}