{{>partials/header}}

<link rel="stylesheet" href="/css/involuntario.css">


{{alcoolismo}}

<br>
<br>
<br>
<br>
<br>

<section>
  <H1 id="tratamento_tittle"> Involuntário </H1>
  <div class="bgSizeContain">
    <p></p>
  </div>

  <H1 id="tratamentos_tittle1"> Sobre </H1>
  <hr class="hrTXT">

  <p class="texto">A internação involuntária, prevista na nova lei de políticas antidrogas (LEI 13.840), é uma
    modalidade de tratamento que tem como principal objetivo atender e reabilitar os dependentes de drogas e álcool que
    estejam em situação grave.
    O tratamento involuntário é indicado a indivíduos que estão em um grau elevado de dependência e assim, se encontram
    impossibilitadas de escolher ou não algum tipo de tratamento.

    O dependente muitas vezes perde o controle de sua vida e não compreende como a sua saúde, vida familiar,
    profissional e interpessoal está sendo prejudicada.
  </p>

</section>



<section>
  <H1 id="tratamentos_tittle"> Tratamento </H1>


  <hr class="hrTXT">

  <p class="texto">O tratamento <b>involuntário</b> visa fazer com que o paciente seja tratado em uma abordagem biopsicossocial, levando em consideração variados aspectos de sua vida, ou seja, olhar para ele de forma integral respeitando a sua individualidade.

    Com esse tipo de tratamento é possível trazer o paciente ao entendimento dos seus problemas e prejuízos causados pelo consumo de drogas.
  </p>

</section>




<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span></span>
    </div>
    <!-- Left -->

    <!-- Right -->

    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->

  <!-- Grid column -->

  <!-- Grid column -->

  <!-- Grid column -->

  <!-- Grid column -->

  <!-- Grid column -->

  <!-- Grid column -->

  <br>
  </section>

  <a href="#" class="btn"></a>

  {{>partials/footerpages}}