{{>partials/header}}

<link rel="stylesheet" href="/css/mulheres.css">




<br>
<br>
<br>
<br>
<br>

<section>
  <H1 id="tratamento_tittle"> Tratamento para Mulheres </H1>
  <div class="bgSizeContain">
    <p></p>
  </div>

  <H1 id="tratamentos_tittle1"> Sobre </H1>
  <hr class="hrTXT">

  <p class="texto">O uso de drogas pelas mulheres sempre ocorreu ao longo de toda a história da humanidade, assim, não é
    um fenômeno contemporâneo. Porém os transtornos causados em decorrência deste uso têm sido datados progressivamente
    a partir de meados do século XX.
    Existem também alguns dados significativos e muito preocupantes, que revelam que 8% das mulheres dos EUA apresentam
    abuso e dependência para o álcool, enquanto 6% delas apresentam abuso e dependências para as outras drogas,
    tendência apresentada por pesquisas realizadas em todo o mundo.</p>
  <p class="texto">A mulher se relaciona de modo distinto com o álcool e as outras drogas, desde o uso inicial, às
    justificativas de uso, como da relação emocional com as substâncias, a demora em pedir ou procurar ajuda e a
    dificuldade para se recuperar de fato,
    já que se trata de um processo ou uma relação diferente ao dos homens, a recuperação destas requer cuidados também
    diferentes.</p>




  </p>

</section>



<section>
  <H1 id="tratamentos_tittle"> Tratamento </H1>


  <hr class="hrTXT">

  <p class="texto">O tratamento a ser encaminhado para as mulheres precisa, portanto, ter um foco muito maior nas questões emocionais. Precisando verificar quais as insatisfações que elas estão sentindo, tendo uma abordagem psicológica muito maior. Sua adesão no tratamento também costuma ser muito melhor, contando com bons resultados.

    Ao trabalhar as questões psicológicas da paciente, é possível esperar que com o tempo de tratamento, passando pelas fases comum, como desintoxicação e abordagens terapêuticas, a mulher se sinta novamente livre do consumo das drogas e pronta para voltar para a sociedade sem ter medo.

  </p>

</section>

<section>



<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span></span>
    </div>
    <!-- Left -->

    <!-- Right -->

    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->

  <!-- Grid column -->

  <!-- Grid column -->

  <!-- Grid column -->

  <!-- Grid column -->

  <!-- Grid column -->

  <!-- Grid column -->

  <br>
  </section>

  <a href="#" class="btn"></a>
  {{>partials/footerpages}}