{{>partials/header}}

<link rel="stylesheet" href="/css/voluntario.css">


{{alcoolismo}}

<br>
<br>
<br>
<br>
<br>

<section>
  <H1 id="tratamento_tittle"> Voluntário </H1>
  <div class="bgSizeContain">
    <p></p>
  </div>

  <H1 id="tratamentos_tittle1"> Sobre </H1>
  <hr class="hrTXT">

  <p class="texto">
    O Tratamento <b>Voluntário</b> é direcionado para atender aos alcoólatras ou dependentes químicos que precisam de um
    tratamento de reabilitação e que por espontânea vontade se submetem ao tratamento.


  </p>

</section>



<section>
  <H1 id="tratamentos_tittle"> Tratamento </H1>


  <hr class="hrTXT">

  <p class="texto">
    O Tratamento Voluntário é direcionado para atender aos alcoólatras ou dependentes químicos que precisam de um tratamento de reabilitação e que por espontânea vontade se submetem ao tratamento.
    No tratamento voluntário o paciente consegue ainda discernir e ponderar sobre sua situação, logo os profissionais
    não precisam lidar com as resistências iniciais do paciente e este fica mais receptivo aos processos terapêuticos.
  </p>




<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span></span>
    </div>
    <!-- Left -->

    <!-- Right -->

    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->

  <!-- Grid column -->

  <!-- Grid column -->

  <!-- Grid column -->

  <!-- Grid column -->

  <!-- Grid column -->

  <!-- Grid column -->

  <br>
  </section>

  <a href="#" class="btn"></a>
  {{>partials/footerpages}}